/* App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #89f7fe, #66a6ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.input-wrap{
  display: flex;
  gap: 10px;
  /* align-items: center; */
}
input {
  flex: 1;
  padding: 0.5rem;
  width: 80%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
}

button {
  /* height: 50px; */
  padding: 1rem 2.5rem;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005fcc;
}
